<h2>User info</h2>
  <%= image_tag user.get_profile_image(100, 100) %>
    <table class="table table-hover table-inverse">
      <tr>
　    <th>name</th>
　    <td><%= user.name %></td>
　    </tr>
　    <tr>
　     <th>introduction</th>
　     <td><%= user.introduction %></td>
　     </tr>
    </table>

    <div class="row">
      <%= link_to edit_user_path(user.id), class:"btn btn-outline-secondary btn-block" do %>
        <i class="fa fa-user-cog" aria-hidden="true"></i>
      <% end %>
    </div>

    <h2>New book</h2>
    <%= form_with model: book do |f| %>
      <div class="form-group">
        <label for="book_title">Title</label></br>
        <%= f.text_field :title, autocomplete: "title" %>
      </div>

      <div class="form-group">
        <label for="book_opinion">Opinion</label></br>
        <%= f.text_area :body, autocomplete: "body" %>
      </div>

      <div class="form-group"></br>
        <%= f.submit 'Create Book', class:"btn btn-success" %>
    <!--<input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">-->
      </div>

<% end %>